html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  font-size: 16px;
  /*font: inherit;*/
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: none;
  -khtml-user-select: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.1;
  background: #000;
  background-color: #000;
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "open_sanscondensed_light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  /* base font 
    font-family:latoregular;
    background-color: #2d3235;
    font-size:24px;
    font-style:normal;*/
  color: #000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  resize: none;
  -webkit-text-size-adjust: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* float fix for all browsers */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select {
  font-family: serif;
  border: 0;
  vertical-align: middle;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: none;
  cursor: pointer;
}
li,
button {
  pointer-events: auto;
}
/* button::-moz-focus-inner, */
input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}
/*==========================================================================*/
/* Base Class */
/*==========================================================================*/
html {
  /*overflow:auto;*/
  overflow: hidden;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: rgba(153, 153, 153, 0);
  display: none !important;
}
div {
  -moz-user-select: none;
  -khtml-user-select: none;
}
input,
select,
button {
  /* font-family: RobotoCondensed, sans-serif; */
  font-family: "open_sanscondensed_light", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  /* color: #717A7F; */
  color: #607d8b;
}
.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.hide {
  display: none;
}
.css-opacity {
  -khtml-opacity: 0;
  opacity: 0;
}
.css-fade {
  -khtml-opacity: 1;
  opacity: 1;

  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  /*transition-delay: 1s;
    -webkit-transition-delay: 1s;*/
  transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
}
/*==========================================================================*/
/* END Base Class */
/*==========================================================================*/
.spiner {
  position: absolute;
  float: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  /*border-top:solid 3px #282d39;*/
  overflow: hidden;
  background-color: #000;
  background-image: url(../img/loading_blue.gif);
  background-repeat: no-repeat;
  background-size: auto 30px;
  background-position: center 95px;
}
.service_container {
  position: absolute;
  float: left;
  width: 100%;
  height: auto;
  bottom: 25px;
}
.cs_error {
  position: absolute;
  top: 0;
  float: left;
  left: 15%;
  width: 70%;
  height: auto;
  background-color: #ff9900;
  color: #000;
  font-size: 75%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.content {
  position: absolute;
  top: 0px;
  float: left;
  width: 100%;
  height: 100%;
  /* padding:10px 20px; */
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: black;
  /* background: -ms-linear-gradient(top, #000, #14161A);
	background: -webkit-linear-gradient(top, #14161A, #24262A);
  background: -moz-linear-gradient(top, #000, #14161A); */
}
.cs_border {
  border-left: solid thin #282d39;
  border-right: solid thin #282d39;
}
.cs_container {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  padding: 0;
  min-height: 5px;
}
.cs_container.fix {
  position: absolute;
  top: 0;
  height: 100%;
}

.panels {
  position: relative;
  float: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  color: #fff;
  /* 
  margin:0 5px;*/
  height: 100%;

  /*border: solid thin #282d39;*/
  background-color: transparent;
  background-image: url(../img/bg_panel.png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: center top;
  overflow: hidden;
}

.stat {
  margin: 0 auto;
  /* max-width: 850px; */
  max-width: 1150px;
  background-image: none; 
  /* border-top: 25px solid #000; */
  border-top: 70px solid #000;
  border-bottom: 65px solid #000;
}
.panel_esp {
  position: absolute;
  float: none;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  /* padding: 20px 0; 
  padding: 5px 0;*/
}
.title {
  padding: 0;
  font-size: 100%;
  letter-spacing: 5px;
  color: #897a1a;
  text-shadow: -1px -1px 0px #000;
  height: auto;
}
.title_location {
  margin: 5px 0 1px 0;
  padding: 10px 0;
  font-size: 90%;
  letter-spacing: 4px;
  /* color: #b0bec5;
	color: #485d53; */
  background-color: rgba(0, 0, 0, 0.5);
  /* color: #607d8b; */
  color: #73b8e5;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #000;
  /* background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 140% 40px;
  background-position: center top; */
  height: auto;
  /* text-shadow: 1px 1px 0px #eee; */
}
.panels p,
.panel p {
  padding: 0;
  font-size: 90%;
  letter-spacing: 5px;
  color: #897a1a;
  text-shadow: -1px -1px 0px #000;
  height: auto;
}
span {
  display: block;
  width: 100%;
  color: #586d63;
  font-size: 90%;
  letter-spacing: 2px;
  padding-top: 5px;
}
.frame_esp_controls {
  width: 100%;
  height: 0;
}
.frame_service {
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: 260px;
  background-color: #000;
  overflow: hidden;
  margin-top: 5px;
  border-top: solid 3px #282d39;
}
.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  top: 190px;
  background-color: #000;
  background-image: url(../img/line_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 1px;
  background-position: center top;
  pointer-events: none;
}
.line.top {
  height: 25px;
  top: 10px;
  background-position: center center;
}
.line.bottom {
  top: auto;
  bottom: 0;
}
.cs_frame {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  color: #eee;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: solid thin #000;
  border-bottom: solid thin #282d39;
}
.box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0;
}
.slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  border: dotted thin #444;
}
.cs_label {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 75%;
  letter-spacing: 2px;
  /* color: #485d53; */
  color: #607d8b;
  text-shadow: -1px -1px 0px #000;
}
.cs_label.diapazon {
  padding: 2px;
  letter-spacing: 1px;
}
.cs_label.inline {
  display: inline;
  padding: 0;
}
.cs_label.time {
  font-size: 75%;
  letter-spacing: 1px;
  padding-top: 10px;
}
.cs_label.chip {
  font-size: 90%;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 35px;
  background-image: url(../img/shadow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 340px 40px;
}

/* 


.button_t_container,
.button_container {
  position: absolute;

  width: auto;
  height: 36px;
  border-radius: 20px;
  right: 30px;

  top: 5px;
  padding: 3px;

  background: -ms-linear-gradient(top, #14161a, #24262a);
  background: -webkit-linear-gradient(top, #14161a, #24262a);
  background: -moz-linear-gradient(top, #14161a, #24262a);
  pointer-events: auto;
}
.button_container {

  width: auto;
  height: 40px;
  left: 20px;
  top: 205px;
  right: auto;
  padding: 3px 15px 3px 4px;
}

.btn {
  position: relative;
  float: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 25px;
  min-width: 100px;
  color: #897a1a;
  text-shadow: -1px -1px 0px #000;
  border: solid 2px rgba(0, 0, 0, 0.2);
  border-top: solid 2px rgba(50, 56, 64, 0.5);
  margin: 0 7px;
  background-color: #181d23;
  box-shadow: 0 0 0 2px #000, 0 1px 0 2px #282d39;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
}
.btn_service {
  position: relative;
  float: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 25px;
  color: #897a1a;
  text-shadow: -1px -1px 0px #000;
  border: solid 2px rgba(0, 0, 0, 0.2);
  border-top: solid 2px rgba(50, 56, 64, 0.5);
  margin: 0 7px;
  background-color: #181d23;

  box-shadow: 0 0 0 2px #000, 0 1px 0 2px #282d39;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
}

.btn_service {
  float: left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center, center;
  margin-right: 2px;
}

.s_refresh {
  background-image: url("../img/refresh.png");
}
.btn_service.select {
  color: #fff;
  border: solid 2px #000;
  padding-top: 6px;
  padding-bottom: 4px;
  box-shadow: 0 0 0 2px #000, 0 1px 0 2px #323840;
  background-image: url("../img/sym_service_on.png");
  background-size: auto 85%;
}
.btn.select {
  color: #fff;
  border: solid 2px #000;
  padding-top: 6px;
  padding-bottom: 4px;
  box-shadow: 0 0 0 2px #000, 0 1px 0 2px #323840;
   background-size: auto 85%;
}
.btn_timeline,
.btn_round {
  position: relative;
  float: none;
  width: 50px;
  height: 30px;
  display: inline-block;
  margin: 0 -2px;

  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center, center;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
}
.btn_round {
  width: 34px;
  height: 34px;
  margin: 0 0;
}

.s_t1 {
  background-image: url("../img/t1.png");
}
.s_t1.select {
  background-image: url("../img/t1_on.png");
}
.s_t2 {
  background-image: url("../img/t2.png");
}
.s_t2.select {
  background-image: url("../img/t2_on.png");
}
.s_t3 {
  background-image: url("../img/t3.png");
}
.s_t3.select {
  background-image: url("../img/t3_on.png");
}
.s_prev {
  background-image: url("../img/prev.png");
}
.s_prev:active {
  background-image: url("../img/prev_on.png");
}
.s_next {
  background-image: url("../img/next.png");
}
.s_next:active {
  background-image: url("../img/next_on.png");
}
.s_service {
  background-image: url("../img/btn_service.png");
}
.s_service.select {
  background-image: url("../img/btn_service_on.png");
}
.btn_round.disabled {
  cursor: auto;
  pointer-events: none;
  color: #485d53;
}
 */

.ds_box {
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #101a20;
  overflow: hidden;
  padding: 0;
  background-image: url(../img/top_blick.png), url(../img/line_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 3px, 80% 1px;
  background-position: center top, center bottom;
}

.stats_container {
  padding-bottom: 60px;
}
.ds {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  border-right: solid 20px rgba(0, 0, 0, 0);
  border-left: solid 20px rgba(0, 0, 0, 0);
  border-top: solid 1px #333;
  border-bottom: solid 1px #000;
  /*border-radius: 5px;
    background-color:#0f0f13;
    background-color:#101016;*/
  padding: 0;
  margin-bottom: 2px;
  background-image: none, none;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 75%, auto 65%;
  background-position: left center, right center;
}
.ds.big {
  border-bottom: none;
}
.ds:focus {
  outline: none;
}
.ds:first-child {
  border-top: none;
}
.ds:last-child {
  border-bottom: none;
}
.ds.time {
  height: auto;
}
.ds.receive {
  background-image: url(../img/loading_blue.gif), none;
  background-position: 13px center;
  background-size: auto 70%;
}
.ds.t {
  background-image: url(../img/temperature.png), url(../img/sym_temp.png);
}
.ds.h {
  background-image: url(../img/humidity.png), url(../img/sym_humidity.png);
}
.ds.p {
  background-image: url(../img/pressure.png), url(../img/sym_pressure.png);
}
.ds.state {
  height: 4px;
  background-image: url(../img/color_progress.png);
  background-repeat: no-repeat;
  background-size: 320px 2px;
  background-position: center center;
  padding: 0 10px;
}
.ds.diapazon {
  border-top: none;
  height: 30px;
}
.btn_diapazon {
  position: relative;
  top: 0;
  display: inline-block;
  padding: 5px 15px;
  width: 10%;
  height: 100%;
  color: #897a1a;
  vertical-align: top;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
}
.s_dec {
  background-image: url(../img/s_dec.png);
}
.s_inc {
  background-image: url(../img/s_inc.png);
}
.btn_diapazon:hover.s_dec,
.btn_diapazon:active.s_dec {
  background-image: url(../img/s_dec_on.png);
}
.btn_diapazon:hover.s_inc,
.btn_diapazon:active.s_inc {
  background-image: url(../img/s_inc_on.png);
}
.btn_diapazon.disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.5;
}
.cs_diapazon_box {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 100%;
  /*background-color:rgba(255,255,255,1);*/
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 120% 30px;
  background-position: center top; /*	
	background: -ms-linear-gradient(left, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,204,255,.1), rgba(0,204,255,0));
	background-color:rgba(0,204,255,.15);*/
}
.cs_diapazon_box span {
  display: inline-block;
  width: 10%;
  font-size: 65%;
  margin-top: 6px;
  text-align: left;
  padding: 4px 2px 3px 2px;
  color: #09d;
  letter-spacing: 0;
  /*
	letter-spacing:1px;
	background-color:rgba(204,0,0,.1);
	    border-left: 2px solid #000;*/
  border: none;
  border-right: 2px solid #000;
  -moz-border-image: url(../img/btn_stroke.png) 2;
  -webkit-border-image: url(../img/btn_stroke.png) 2;
  -o-border-image: url(../img/btn_stroke.png) 2;
  border-image: url(../img/btn_stroke.png) 2;
}
.cs_diapazon_box span.last {
  border-right: none;
}
.cs_diapazon_box span.last.fan_icon {
  background-color: rgba(0, 204, 255, 0.1);
  background: right center url(../img/fan_icon.png) no-repeat;
  background-size: auto 18px;
}
.cs_diapazon_poz {
  position: absolute;
  display: inline-block;
  left: 10%;
  width: 10%;
  height: 4px;
  top: 4px;
  border-right: solid 2px #f00;
  /*	*/

  background: -ms-linear-gradient(
    left,
    rgba(255, 0, 32, 0.25),
    rgba(255, 0, 32, 0.75)
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 0, 32, 0.25),
    rgba(255, 0, 32, 0.75)
  );
  background: -moz-linear-gradient(
    left,
    rgba(255, 0, 32, 0.25),
    rgba(255, 0, 32, 0.75)
  );
}
/*
.cs_diapazon_poz div {
	position:absolute;
	background-color: rgba(0,153,255,.1);
	left:115%;
	top:-1px;
	width:auto;	
	font-size:50%;	
	color:#FFF;

	}
	*/
span.cs_diapazon_info {
  color: #897a1a;
}
.state_progress {
  position: absolute;
  float: left;

  /* display: inline-block; */
  width: 40%;
  height: 100%;
  /* padding: 0;
  margin: 0;
   top: 0; 
  border-left: #f00 solid 2px;
  border-right: #f00 solid 2px;*/
}
.state_progress:first-child {
  /* margin-right: 20%; */
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}
.state_progress:last-child {
  right: 0;
  background: -ms-linear-gradient(
    right,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -moz-linear-gradient(
    right,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}
.ds p {
  position: absolute;
  float: left;
  display: block;
  width: 40%;
  height: auto;
  top: 50%;
  left: 60px;
  font-size: 120%;
  text-align: left;
  letter-spacing: 1px;
  /*color:#485d53;
    font-weight:bold;
    text-transform:uppercase;
	text-shadow: 1px 1px 0px #fff;*/
  /* color: #686d73; */
  color: #607d8b;
  margin: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.val {
  position: absolute;
  float: left;
  display: block;
  width: auto;
  height: auto;
  top: 50%;
  padding-right: 50px;
  right: 0;
  text-align: right;
  font-size: 250%;
  /* color: #09D; 
	color:#00b8d4;*/
  color: #73b8e5;
  /*text-shadow: -1px -1px 1px #3debfc;
    text-shadow: 0 0 1px #3debfc;*/
  margin: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.blick {
  position: absolute;
  float: left;
  display: block;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 50%;
  border-radius: 2px;
  margin: 0;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
.fan_box {
  position: relative;
  /*margin: 20px auto 35px auto;
    margin: 14px auto 30px auto;*/
  /* margin: 5px auto 15px auto;  */
  margin: 11px auto;
  float: none;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 2px #000, 0 1px 0 2px #282d39;
  background-color: #111113;
}
.fan {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center center url("../img/fan.png") no-repeat;
  background-size: auto 100%;
  animation-name: fan_rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*
   	animation: rotate 1s infinite linear; 
    -moz-animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
	
 
	transition-timing-function: steps(12);
    -webkit-transition-timing-function: steps(12);
	*/
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-name: fan_rotate;
  -webkit-animation-name: fan_rotate;
}

@-webkit-keyframes fan_rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fan_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes fan_rotate {
  /*-moz-transform: rotate(360deg);*/
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
.stop {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  animation-play-state: paused;
}
.led {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-image: url(../img/led.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 center;
}
.led_srv_state {
  position: absolute;
  float: left;
  left: 24px;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-image: url(../img/led_srv_state.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 center;
}
.led.select,
.led_srv_state.ready {
  background-position: 100% center;
}
/*
.led_color{
    position:absolute; 
    float:left;
	right: 8px;
	top:50%;
    width:12px;
    height:12px;
    border-radius:50%;
    -ms-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-image: url("../img/led_color.png");
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: 0% center;
}
*/
.progress {
  position: relative;
  float: left;
  width: 60%;
  height: 10px;
  left: 50%;
  background: none;
  background-color: transparent;
  background-image: url(../img/gaude.png);
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: center center;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  /*background-color:#333336;
    border-top:solid thin #000;
    border-bottom:solid thin #282d39;*/
  overflow: hidden;
}
.bar {
  position: relative;
  float: right;
  width: 100%;
  height: 6px;
  left: 0;
  top: 2px;
  background-color: transparent;
  background-image: url(../img/over_gaude.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 2px;
  border-left: solid 6px #fff;
}
.copyright {
  position: absolute;
  float: left;
  width: 100%;
  height: auto;
  font-size: 50%;
  text-align: center;
  letter-spacing: 1px;
  /* color: #485d53; */
  color: #607d8b;
  padding: 7px;
  text-shadow: -1px -1px 0px #000;
  bottom: 0;
}
.cs_json {
  position: relative;
  float: left;
  padding: 0 10px;
  display: block;
  width: 90%;
  margin: 0 5%;
  color: #ccc;
  font-size: 90%;
  font-family: monospace;
  text-align: center;
  overflow: hidden;
  min-height: 60px;
  height: auto;
  white-space: pre;
  padding-top: 20px;
  text-shadow: -1px -1px 0px #000; /*white-space: nowrap; word-wrap: normal; text-overflow: ellipsis;
    border:dashed thin #333;
    display:none;*/
}
.cs_json.esp {
  color: #fc0;
  height: auto;
}
.cs_shadow,
.cs_top_shadow {
  /*position:relative;*/
  display: inline-block;
  padding: 10px 0;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: center top;
}
.cs_top_shadow {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}
.cs_min_max {
  position: absolute;
  float: left;
  width: 70%;
  top: 25px;
  padding: 4px 7px;
  font-size: 55%;
  color: #f90;
}
.cs_btn_restart {
  position: absolute;
  float: left;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  display: block; /*
    font-size:150%;
    color:#F06;
    opacity:0;
    */
}
.cs_btn_restart:active {
  /*opacity:1;*/
  color: #f06;
}
.cs_btn_ui {
  position: relative;
  float: none;
  display: inline-block;
  width: 85px;
  height: 100%;
  color: #717a7f;
  text-align: center;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  -moz-border-image: url(../img/btn_stroke.png) 2;
  -webkit-border-image: url(../img/btn_stroke.png) 2;
  -o-border-image: url(../img/btn_stroke.png) 2;
  border-image: url(../img/btn_stroke.png) 2;
  margin: 0;
  background-position: center center;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 75%;
  cursor: pointer;
}
.s_chromecast.select {
  color: #ffffff;
}
.s_chromecast {
  background-image: url(../img/sym_chromecast.png);
}
.s_chromecast.select {
  background-image: url(../img/sym_chromecast_on.png);
}
.s_key_light {
  background-image: url(../img/sym_key_light.png);
}
.s_key_light.select {
  background-image: url(../img/sym_key_light_on.png);
}
.s_power_audio {
  background-image: url(../img/sym_power_audio.png);
}
.s_power_audio.select {
  background-image: url(../img/sym_power_audio_on.png);
}
.s_amazon {
  background-image: url(../img/sym_amazon.png);
}
.s_amazon.select {
  background-image: url(../img/sym_amazon_on.png);
}
.s_power {
  background-image: url(../img/sym_power.png);
}
.s_power.select {
  background-image: url(../img/sym_power_on.png);
  color: #ffffff;
}
.cs_btn_ui.disabled {
  cursor: auto;
  pointer-events: none;
  color: #485d53;
  opacity: 0.5;
}
