input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  /*margin: 15.2px 0;
  border: dotted thin #333;*/
}

input[type="range"]:focus {
  outline: none;
}
/* Safari */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background-color: #181d23;
  border: 2px solid #000;
  border-right: solid 2px rgba(50, 56, 64, 0.5);
  border-bottom: solid 2px rgba(50, 56, 64, 0.5);
  background-image: url("../img/track.png");
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: center center;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 100%;
  background: none;
  border: none;
  background-image: url("../img/thumb.png");
  background-repeat: no-repeat;
  background-size: auto 32px;
  background-position: center center;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  cursor: col-resize;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background-color: #181d23;
  border: 2px solid #000;
  border-right: solid 2px rgba(50, 56, 64, 0.5);
  border-bottom: solid 2px rgba(50, 56, 64, 0.5);
  background-image: url("../img/track.png");
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: center center;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 50px;
  height: 100%;
  background: none;
  border: none;
  background-image: url("../img/thumb.png");
  background-repeat: no-repeat;
  background-size: auto 36px;
  background-position: center center;
  cursor: pointer;
}
