/* hide scroll bar for chrome */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: rgba(153, 153, 153, 0);
  display: none !important;
}

.graph_spinner {
  position: absolute;
  float: left;
  left: 50%;
  top: 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #000;

  background-image: url(../img/loading_blue.gif);
  background-repeat: no-repeat;
  background-size: auto 30px;
  background-position: center center;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  /*border-top:solid 3px #282d39;*/
}

.cs_btn_ui {
  width: 132px;
  height: 60px;
}
.s_m4 {
  border: none;
  background-image: url("../img/sym_m4.png");
}
.s_m4.select {
  border: none;
  background-image: url("../img/sym_m4_on.png");
}
.s_m15 {
  background-image: url("../img/sym_m15.png");
}
.s_m15.select {
  background-image: url("../img/sym_m15_on.png");
}
.s_m30 {
  border: none;
  background-image: url("../img/sym_m30.png");
}
.s_m30.select {
  border: none;
  background-image: url("../img/sym_m30_on.png");
}
.cs_statistic {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: auto;
  /*font-size:100%;
    text-align:left;*/
  letter-spacing: 0;
}
/*.ds:first-child {border-top: solid 1px #3F3;}*/
.ds.stats {
  padding: 5px;
  height: auto;
}

.ds_box.stats {
  background: none;
}
/*.ds.stats:first-child {padding-top: 8px;}*/
.cs_label.btns {
  padding-top: 0;
  margin-top: 0;
}
.cs_duration {
  position: absolute;
  float: left;
  left: 50px;
  right: 50px;
  top: 35px;
  height: auto;
  overflow: hidden;
  text-shadow: -1px -1px 0px #000;
  letter-spacing: 0.5px;
  color: #686d73;
  font-size: 80%;
  padding: 0;
  /*
    text-transform:uppercase;
    font-size:75%;text-transform:none;
    */
}
.cs_duration span {
  letter-spacing: 0;
  color: #ccc;
  display: inline;
}

.cs_label_stats {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 80%;
  letter-spacing: 1px;
  /*color:#485d53;
  color: #686d73;*/
  color: #607d8b;
  text-shadow: -1px -1px 0px #000;
  text-transform: uppercase;
}

.cs_label_stats span {
  letter-spacing: 0;
  color: #ccc;

  display: inline;
}
.ds.graph {
  background-color: #000;
  /* height: 454px;  */
  height: 374px;
  padding: 20px 48px 30px 48px;
  margin: 0;
  border: none;
  border-top: solid 3px #282d39;
  /*
    background-image: url("../img/line_bottom.png");
    background-repeat: no-repeat;
    background-size: auto 1px;
    background-position: center bottom;
    */
}
.ds.period {
  height: auto;
  padding: 6px 0 2px 0;
}
.ds.control {
  border: none;
  padding: 0;
  height: 90px;
  background-color: #000;
  background-image: url(../img/line_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 1px;
  background-position: center bottom;
  margin: 0;
}
.graph_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*border: dotted thin #444;
    overflow-x:auto;
    
    opacity:.7;*/
}
.cs_graph_content {
  position: relative;
  display: block;
  float: left;
  text-align: center;
  min-width: 100%;
  width: auto;
  white-space: nowrap;
  height: 100%;
  pointer-events: none;
  padding: 0 4px;
}
.box_val {
  position: relative;
  float: none;
  width: 4px;
  height: 100%;
  margin: 0 1px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  /*white-space: nowrap;    

    margin-right:1px;
    border-right: dotted thin #555;
    background: -ms-linear-gradient(top,  #222, #000);
    background: -webkit-linear-gradient(top,  #222, #000);
    background: -ms-linear-gradient(top,  #222, #000);*/
}

.val_min,
.val_avg,
.val_max,
.val_max_h,
.val_min_h {
  position: absolute;
  float: left;
  width: 100%;
  height: 0;
  bottom: 0;
  border-color: #000;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #f03;
  /* border-top-left-radius: 2px;
  border-top-right-radius: 2px ; */
  /*background-color:#F03;
  */
  background: -ms-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
  border-bottom: solid 160px #111;
  /*border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  */
  opacity: 0.9;
}
.val_min {
  border-top-color: #0cf;
  background: -ms-linear-gradient(
    top,
    rgba(0, 153, 255, 0.8),
    rgba(0, 153, 255, 0)
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 153, 255, 0.8),
    rgba(0, 153, 255, 0)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 153, 255, 0.8),
    rgba(0, 153, 255, 0)
  );
  border-bottom: solid 161px #000;
}
.val_avg {
  /*
    border-top-color:#FC0;    
    background: -ms-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    background: -webkit-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    background: -moz-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    */
  border-top-color: #0fc;
  background: -ms-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 25%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 25%
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 25%
  );
}
.val_avg.only_avg {
  /*
    border-top-color:#FC0;    
    background: -ms-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    background: -webkit-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    background: -moz-linear-gradient(top, rgba(255,255,0,.5) 0%, rgba(255,204,0,0) 25% );
    */
  border-top-color: #0fc;
  background: -ms-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 75%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 75%
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 255, 204, 0.5) 0%,
    rgba(0, 255, 204, 0) 75%
  );
}
.val_max {
  /*border-bottom:none;
   
    border-top-color:rgba(128,204,255,1);
    background: -ms-linear-gradient(top, rgba(128,204,255,.6) 0%, rgba(128,204,255,0) 50%);
    background: -webkit-linear-gradient(top, rgba(128,204,255,.6) 0%, rgba(128,204,255,0) 50%);
    background: -moz-linear-gradient(top, rgba(128,204,255,.6) 0%, rgba(128,204,255,0) 50%);
    */
  border-top-color: #f90;
  background: -ms-linear-gradient(
    top,
    rgba(255, 204, 0, 0.6) 0%,
    rgba(255, 204, 0, 0) 25%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 204, 0, 0.6) 0%,
    rgba(255, 204, 0, 0) 25%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 204, 0, 0.6) 0%,
    rgba(255, 204, 0, 0) 25%
  );
}
.hot_water {
  border-top-color: #f03;
  background: -ms-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 0, 51, 0.5) 0%,
    rgba(255, 0, 51, 0) 25%
  );
}
.val_max_h {
  border-bottom: none;
  border-top-color: rgba(128, 204, 255, 1);
  background: -ms-linear-gradient(
    top,
    rgba(128, 204, 255, 0.6) 0%,
    rgba(128, 204, 255, 0) 50%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(128, 204, 255, 0.6) 0%,
    rgba(128, 204, 255, 0) 50%
  );
  background: -moz-linear-gradient(
    top,
    rgba(128, 204, 255, 0.6) 0%,
    rgba(128, 204, 255, 0) 50%
  );
}
.cs_graph_date {
  position: absolute;
  float: left;
  height: auto;
  min-height: 16px;
  width: 100%;
  top: 15px;
  /* left: 50%;
 
  color: #897a1a;
  color: #fff;
  color: #ccc;
  padding: 2px 2px 0 25px; */
  text-align: center;
  /*border-radius:10px;
    background-color: rgba(153,204,255,.15);
    border-bottom:solid thin #333;
    text-shadow: -1px -1px 0px #000;*/
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 90%;
  pointer-events: none;
  white-space: nowrap;
  /* background-image: url(../img/sym_m30.png);
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: left center
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  overflow: hidden;
  background-color: #f03;;*/
  /* background-image: url("../img/line_bottom.png");*/
}
.cs_graph_title {
  position: absolute;
  float: left;
  height: auto;
  left: 30%;
  right: 30%;
  top: 62%;
  /*top:30px;
    color:#FFFFFF;
    color:#897a1a;
  color: #717a7f;*/
  color: #607d8b;
  padding: 2px 10px;
  /*background-color: rgba(153,204,255,.15);*/
  background-color: #101020;
  text-align: center;
  border-radius: 10px;
  text-shadow: -1px -1px 0px #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 75%;
  pointer-events: none;
  border-bottom: solid thin #333;
}
.cs_graph_title.cs_button {
  cursor: pointer;
  pointer-events: auto;
  outline: none;
}
.cs_val {
  position: absolute;
  float: left;
  height: auto;
  padding: 4px 10px 4px 25px;
  right: 150px;
  font-size: 115%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: 3px center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}
.hw {
  top: 10.5%;
  background-image: url("../img/temperature.png");
}
.h {
  top: 64.25%;
  background-image: url("../img/humidity.png");
}
.cs_graph_title span {
  display: inline;
  color: #fc0;
  border-radius: 50%;
  font-size: 180%;
  line-height: 50%;
  vertical-align: text-top;
}
.cs_graph_title.humidity {
  top: auto;
  bottom: 20px;
}
/*
.val_min_h {
    border:none;
    border-bottom:none;
    background: -ms-linear-gradient(top, rgba(0,153,204,1), rgba(0,153,204,0));
    background: -webkit-linear-gradient(top, rgba(0,153,204,1), rgba(0,153,204,0));
    background: -moz-linear-gradient(top, rgba(0,0,0,.7) 0%, rgba(0,0,0,1) 50%);   
}
*/
.box_humidity {
  position: absolute;
  float: left;
  width: 100%;
  height: 40%;
  bottom: 0;
  background-color: #000; /**/
}
.cs_chart {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px 50px 20px 50px;

  /* border-top:dashed thin #666;
    border-bottom:dashed thin #666;*/
}
.cs_item_grid {
  position: relative;
  float: left;
  width: 100%;
  height: 10%;
  font-size: 75%;
  letter-spacing: 5px;
  color: #485d53;
  opacity: 0.8;
  text-shadow: -1px -1px 0px #000;
  background-image: url(../img/line_bottom.png);
  background-repeat: no-repeat;
  background-size: 80% 1px;
  background-position: center top;

  /*overflow:hidden;*/
}
.cs_item_grid:first-child,
.cs_item_grid:last-child {
  background-image: none;
}
.grid_label {
  /*background-color:rgba(0,102,204,.3);*/
  background-color: #222;
  float: left;
  text-align: center;
  min-width: 30px;
  color: #0ae;
  letter-spacing: 1px;
  padding: 1px;
  font-size: 70%;
  top: 0;
  border-radius: 10px;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.cs_time_label {
  position: absolute;
  float: left;
  text-align: center;
  width: auto;
  /*color:#0AE;*/
  color: rgba(128, 204, 255, 1);
  letter-spacing: 0;
  font-size: 55%;
  top: 55%;
  left: 70%;
  text-shadow: -1px -1px 0px #000, 1px 1px 0px #000;
  /*padding:2px;
    background-color:rgba(0,255,0,.5);
    min-width:36px;
    border-radius: 10px;*/
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 1;
}
.cs_time_label.cs_style_date {
  color: #fff;
  /* font-weight:bold;  */
  text-transform: uppercase;
}
.cs_time_label.cs_style_min {
  color: rgba(128, 204, 255, 0.6);
}

.cs_fan_on {
  position: absolute;
  float: left;
  left: 0;
  text-align: center;
  width: 100%;
  height: 5px;
  border-radius: 50%;
  color: #0ae;
  letter-spacing: 0;
  font-size: 60%;
  top: 80%;
  background-color: #fc0;
}
.cs_time_label span {
  color: #eee;
  display: block;
}
.cs_interval_val {
  position: absolute;
  float: left;
  width: auto;
  height: auto;
  right: 55px;
  bottom: 25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 55%;
  color: #f90;
  color: #897a1a;
  letter-spacing: 1px;
  /*font-size:45%;
    color:#0AE;
    background-color:#FC0;*/
}

.grid_label.right {
  float: right;
}
.header_stats {
  position: relative;
  float: none;
  width: 100%;
  height: 80px;
  background-image: url(../img/iIcon.png);
  background-repeat: no-repeat;
  background-size: auto 60px;
  background-position: center center;
  /*background-image: url("../img/line_gc.gif"); 
    background-repeat: repeat;
    background-size: auto 100%;
    background-position: center center;*/
}
.header_stats.good {
  background-image: url(../img/ic_good.png);
}
.header_stats.warm {
  background-image: url(../img/ic_warm.png);
}
.header_stats.hot {
  background-image: url(../img/ic_hot.png);
}
.icon {
  position: relative;
  float: none;
  width: 30px;
  height: 15px;
  display: inline-block;
  /*background-color: rgba(153,153,153,.3);*/
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
}
.icon.t {
  background-image: url(../img/temperature.png);
}
.icon.h {
  background-image: url(../img/humidity.png);
}
.icon.fan {
  margin: 0 10px;
  border-radius: 50%;
  width: 15px;
  background-color: #000;
  background-image: url(../img/fan.png);
}
/* iScroll CSS */
/* Scroller ===============================================*/

.wrapper {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;

  /* mask */
  /*-webkit-mask-image: url("../img/scroll_mask.png");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-attachment: fixed;
     -webkit-mask-clip: padding-box;
    -webkit-mask-origin: border;
    -webkit-mask-repeat: repeat-x;*/

  /* Prevent native touch events on Windows 
  -ms-touch-action: none;*/

  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*user-select: none;*/

  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  /*text-size-adjust: none;
    border-left:solid 1px rgba(153,153,0,0);
    border-right:solid 1px rgba(153,153,0,0);*/
  /*z-index: 1;*/
}
.wrapper.no_mask {
  /* mask */
  -webkit-mask-image: none;
}
.x_mask {
  /* mask */
  -webkit-mask-image: url(../img/x_mask.png);
  -webkit-mask-size: 100% 100%;
}
.scroller {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 101%;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); /*z-index: 1;*/
  pointer-events: auto;
}

.scroller_x_auto {
  position: absolute;
  float: left;
  min-width: 100%;
  width: auto;
  height: 100%;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* z-index: 1;*/
  cursor: move;
  /*border-top: solid 1px rgba(0,150,0,1);
    border-bottom: solid 1px rgba(0,150,0,1);*/
  pointer-events: auto;
}

@media all and (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2) {
  .header_stats {
    height: 124px;
  }
  .cs_button:focus {
    background-color: #202030;
    color: #ffffff;
  }
}

@media all and (min-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .header_stats {
    height: 30px;
    background-size: auto 80%;
    background-position: center 5px;
  }
  .icon.fan {
    width: 20px;
    height: 20px;
  }
}
