body {
  background: black;
  cursor: default;
  color: #888;
  text-align: center;
  font-family: "open_sanscondensed_light", sans-serif;
  overflow: hidden;
  touch-action: manipulation;
}
* {
  box-sizing: border-box;
/*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spinner {
  position: absolute;
  top: 2px;
  left: 40px;
  height: 24px;
  width: 24px;
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left: 10px solid #004e91;
  border-right: 10px solid#004e91;
  border-bottom: 10px solid #004e91;
  border-top: 10px solid #3ec8f4;
  /* background:#536dfe; */
  border-radius: 100%;
  display: inline-block;
  border-width: 3px;
}
.spinner.wf {
  height: 48px;
  width: 48px;
  top: 50%;
  left: 50%;
  border-width: 6px;
  margin-left: -24px;
  margin-top: -24px;
}
.time {
  position: absolute;
  display: inline-block;
  left: 70px;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.sun_box {
  position: absolute;
  float: left;
  width: 100%;
  top: 206px;
  height: 210px;
  /* display: flex;
  justify-content: center; */
}

#content,
.overlay {
  position: absolute;
  width: 1280px;
  height: 752px;
  float: left;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  /* border-top: dashed thin #708690;
  border-bottom: dashed thin #708690; */
}
.overlay {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 1);
}
/* 
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.frame_esp_controls {
  width: 100%;
  height: 0;
  /* height: 246px; */
  background: black;
  display: none;
}
/* .sky {
  position: absolute;
  top: 206px;
  left: 0;
  width: 100%;
  height: 294px;  
  background-position: center top;
  background-image: url(../img/overcast_sky.jpg);
  background-repeat: no-repeat; */

/*   background: cornflowerblue;
 border-bottom: solid 84px cornflowerblue;

  background-image: linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  ); */
/* } */
.panorama {
  position: absolute;
  top: 46px;
  width: 100%;
  height: 500px;
  /* background-position: center 100px;
  background-image: url(../img/overcast_sky.jpg);
  background-repeat: no-repeat; */
  bottom: 0;
  /* border: dashed thin red; */
}
.pan_overlay {
  position: absolute;
  width: 100%;
  height: 370px;
  background-position: center bottom;
  background-image: url(../img/overlay.png);
  background-repeat: no-repeat;
  bottom: 0;
  /* border: dashed thin red; */
}
.gosprom,
.gosprom-night {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left bottom;
  background-image: url("../img/gosprom.png");
  background-repeat: no-repeat;
  bottom: 0;
  /* background-size: 100% auto; */
  /* background-attachment: fixed;
  transition: 1.5s;
  transition-property: all; */

  /* filter: brightness(1);
  -webkit-filter: brightness(1);
  -o-filter: brightness(1); */
  /* -moz-filter: brightness(1); */
}
.gosprom-night {
  background-image: url("../img/gosprom_n.png");
  transition: opacity 5s ease-in-out;
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -ms-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
}

/* .gosprom-sunset {
   background-image: url("../img/gosprom_n.png");
   opacity: .5; 
}
.gosprom.night {
  background-image: url("../img/gosprom_n.png");
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
  -webkit-filter: brightness(0.4); 
} */

.visual_corection {
  position: absolute;
  width: 100%;
  /* height: 340px; */
  height: 100%;
  /* background: rgba(255, 0, 255, 0.2); */
  /* sunset */
  /* background-image: -webkit-linear-gradient(
    bottom,
    rgba(255, 0, 204, 0.15) 0%,
    rgba(255, 0, 204, 0.05) 100%
  );   */
  /* sunrise */
  /* background-image: -webkit-linear-gradient(
    bottom,
    rgba(255, 128, 0, 0.25) 0%,
    rgba(255, 128, 0, 0.15) 90%, rgba(255, 128, 0, 0.05) 100%
  );  */
  /* sky autom */

  /* background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 255, 0.1) 0%,
    rgba(0, 0, 255, 0.5) 100%
  ); */

  /* sunset */
  /* background-color:  rgba(0, 0, 255, .4); */
  /* background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 255, .25) 0%,
    rgba(0, 0, 33, .25) 90%, rgba(0, 0, 33, 0.05) 100%
  ); */
  /* background-image: -moz-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  ); */
  /* background-image: -webkit-linear-gradient(
    bottom,
    rgb(105, 173, 212) 0%,
    rgb(23, 82, 145) 84%
  ); */
  bottom: 0;
}

.sky_night {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(1, 0, 32, 0.4) 0%,
    rgba(1, 0, 32, 0.75) 17%,
    rgba(8, 0, 32, 0.98) 100%
  );
}

.sky_spring {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(64, 204, 255, 0) 0%,
    rgba(64, 204, 255, 0.5) 100%
  );
  /* border-top: solid 5px lawngreen; */
}

.sky_summer {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(224, 224, 180, 0) 0%,
    rgba(224, 224, 180, 0.5) 100%
  );
  /* border-top: solid 5px red; */
}

.sky_autom {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 8, 204, 0) 0%,
    rgba(8, 0, 204, 0.5) 100%
  );
  /* border-top: solid 5px orange; */
}

.fog {
  position: absolute;
  width: 100%;
  height: 340px;
  /*top: 246px;
  */
  background-position: center bottom;
  background-image: url(../img/fog.png);
  background-repeat: no-repeat;
  bottom: 0;
}
.nature,
.nature_night {
  position: absolute;
  width: 100%;
  height: 300px;
  /*top: 246px;
  */
  background-position: center bottom;
  background-image: none;
  background-repeat: no-repeat;
  bottom: 0;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  /* z-index: -1; */
}
/* .winter {
  background-image: url(../img/winter.png);
}
.winter_n {
  background-image: url("../img/winter_n.png");
}
.autom {
  background-image: url("../img/autom.png");
}
.autom_n {
  background-image: url("../img/autom_n.png");
} */
/*
#Cocos2dGameContainer {
  position: absolute;
  margin: 0px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: transparent;
}
*/
/* .bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-image: url("../img/winter.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: transparent;
} */
.canvas {
  position: absolute;
  pointer-events: none;
  /*margin-top: 200px;  left: 0;
  bottom: 0;  
  */

  top: 330px;
  left: 50%;
  /*transform: scale(0.5, 0.5);
  -ms-transform: translate(-50%, -50%) scale(2, 2);
  -moz-transform: translate(-50%, -50%) scale(2, 2);
  -webkit-transform: translate(-50%, -50%) scale(2, 2);
  -o-transform: translate(-50%, -50%) scale(2, 2);
  */
  display: none;
  background-color: transparent;

  transform: translate(-50%, -50%) scale(2, 2);
  -ms-transform: translate(-50%, -50%) scale(2, 2);
  -moz-transform: translate(-50%, -50%) scale(2, 2);
  -webkit-transform: translate(-50%, -50%) scale(2, 2);
}
.canvas.show {
  display: block;
  z-index: 1000;
  /* border-top: dotted thin rgba(96, 96, 104, 0.8); */
}
.over_control {
  position: absolute;
  width: 100%;
  height: 340px;
  float: left;
  top: 50%;
  left: 50%;
  text-align: left;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*background-color: rgba(33, 0, 128, 0.5);*/
  pointer-events: none;
}
.cs_container {
  position: absolute;
  margin-top: 30px;
  right: 0;
  float: left;
  width: 300px;
  height: 80%;
  overflow: auto;
  border: 0;
}

.win_light {
  position: absolute;
  width: 9px;
  height: 15px;
  background-position: center center;
  background-image: url("../img/win_light.png");
  background-repeat: no-repeat;

  animation-name: win_blink;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-animation-name: win_blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  /* 
  animation: win_blink ease-out 5s infinite;
  -webkit-animation:; */
}
@-webkit-keyframes win_blink {
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes win_blink {
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.warning-light {
  position: absolute;
  left: 573px;
  top: 59px;
  width: 33px;
  height: 25px;
  background-position: center top;
  background-image: url("../img/warning-light.png");
  background-repeat: no-repeat;
  animation: warn_blink ease-out 2s infinite;
  -webkit-animation: warn_blink ease-out 2s infinite;
  -moz-animation: warn_blink ease-out 2s infinite;

  /*animation-delay: 2s;
  background-size: 100% auto;
  */
}
.warning-light.clon {
  top: 142px;
  left: 572px;
  animation-delay: 0.5s;
  /* animation-delay: .5s; 
  animation-direction: alternate;*/
}
@-webkit-keyframes warn_blink {
  from {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  96% {
    opacity: 0.5;
  }
  /* to {
    opacity: 0.5;
  } */
}

@keyframes warn_blink {
  from {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  96% {
    opacity: 0.5;
  }
  to {
    opacity: 0.5;
  }
}
.hide {
  display: none;
}
/* ======= GRID ======= */
.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: dashed thin rgba(109, 109, 119, 0.8);
  border-bottom: dashed thin rgba(109, 109, 119, 0.8);
  pointer-events: none;
  padding: 206px 40px;
}
.grid-canvas {
  width: 1280px;
  height: 340px;
  margin-left: -40px;
  border-top: dashed thin rgba(109, 109, 119, 0.8);
  border-bottom: dashed thin rgba(109, 109, 119, 0.8);
}

.grid-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1200px;
  height: 400px;
  border: dashed thin rgba(109, 109, 119, 0.8);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
