.sky,
.sky-cur {
  position: absolute;
  /* top: 206px;
  top: 160px; */
  left: 0;
  width: 100%;
  /* height: 294px; */
  height: 210px;
  background-position: center top;
  background-image: url(../img/sky.jpg);
  background-repeat: no-repeat;
  /* background-image: none;
 
  /* background-color: aqua; 
 */
  z-index: -2;
}
.sky-cur {
  z-index: 0;
  /* border: dotted 2px salmon; */
}
.sky-default {
  position: absolute;
  top: 206px;
  top: 160px;
  left: 0;
  width: 100%;
  /* height: 294px; */
  height: 210px;
  background-position: center top;
  background-image: url(../img/sky.jpg);
  /* background-image: none; */
  background-repeat: no-repeat;
  /* opacity: 1; */
  transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -ms-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
  z-index: -1;
  transition-delay: 1s;
  /* transition-delay: 10s;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  */
  /* border-bottom: solid 3px salmon; */
}
.sky-default.night {
  background: #048;
}
/* .clean {
  background-image: url(../img/sky.jpg);
} */

#sky-box {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  height: 210px;
  /* border-top: solid 2px rgb(114, 250, 198); 
  border-bottom: solid 2px rgb(114, 250, 198);  */
}
.sky-storm {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: none; */
  background-position: center top;
  background-repeat: no-repeat;
  /* background: transparent;
   background-color: transparent;

  background: url('../img/sky_thunderstorm.jpg');
  background-position: center center;
  background-origin: content-box;
  background-size: cover; 
  background-attachment: fixed;
  z-index: -2; */
  background-image: url(../img/sky-overcast.jpg);
  z-index: -2;
}
.sky-storm.night {
  opacity: 0.3;
}
.lightning {
  background-image: url(../img/sky-thunderstorm.jpg);
  z-index: -1;
  /* background-origin: content-box;
   background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(4);
  filter: brightness(4);
  -o-filter: brightness(4);
   -moz-filter: brightness(4);  */
}

/*Now just a opacity animation*/
.flashit {
  -webkit-animation: flash ease-out 7s infinite;
  -moz-animation: flash ease-out 7s infinite;
  animation: flash ease-out 7s infinite;
  animation-delay: 2s;
}
.flashit.pause {
  animation-play-state: paused;
}
@-webkit-keyframes flash {
  from {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  93% {
    opacity: 0.6;
  }
  94% {
    opacity: 0.2;
  }
  96% {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  93% {
    opacity: 0.6;
  }
  94% {
    opacity: 0.2;
  }
  96% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.moon {
  position: absolute;
  left: 800px;
  top: 220px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  background-position: center center;
  background: url(../img/moon.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  border-radius: 50%;
/*
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
*/
  box-shadow: 0px 0px 15px rgba(255, 255, 233, 0);
  background-color: rgba(0, 0, 8, 0);
}
.moon.night {
  background-color: rgba(0, 0, 8, 0.95);
  box-shadow: 0px 0px 15px rgba(255, 255, 233, 0.75);
}
/* 
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #90a4ae;
  position: relative;
}

.container .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  overflow: hidden;
  transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -webkit-transition: all 4s ease;
}
.container .layer > div.text {
  display: flex;
  text-align: center;
  color: white;
  font-size: 36px;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;

  transition: transform 4s ease, opacity 1.5s linear;
  -ms-transition: transform 4s ease, opacity 1.5s linear;
  -webkit-transition: transform 4s ease, opacity 1.5s linear;
}
.container .layer.filter {

  background-image: -webkit-linear-gradient(bottom, violet 0%, #048 100%);
}
.container .layer.sunset {

  opacity: 0.5;
  background-image: url("../img/sky.jpg");
  background-position: center top;
  background-repeat: no-repeat;

}
.container .layer.sunset > div {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  opacity: 1;
}
.container .layer.nighttime {

  background-image: -webkit-linear-gradient(bottom, #04a 0%, #000 100%);
  opacity: 0;
}

.container .layer.nighttime > div {
  transform: translate(0%, -100%);
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -o-transform: translate(0%, -100%);
}

.container .layer.stars {
  opacity: 0.1;
  transition: opacity 5s ease, transform 4s;
  transform: translate(0, 10%);
  -webkit-transform: translate(0, 10%);
  -moz-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  -o-transform: translate(0, 10%);
  -webkit-transition: opacity 5s ease, transform 4s;
  -moz-transition: opacity 5s ease, transform 4s;
  -ms-transition: opacity 5s ease, transform 4s;
  -o-transition: opacity 5s ease, transform 4s;
}
.container .layer.stars > div {
  transition: transform 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;


  -webkit-border-radius: 50%;

  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .layer.stars > div:nth-child(1) {
  transform: translateX(210px) translateY(35px);


  opacity: 0.8;
  -webkit-transform: translateX(210px) translateY(35px);
  -moz-transform: translateX(210px) translateY(35px);
  -ms-transform: translateX(210px) translateY(35px);
  -o-transform: translateX(210px) translateY(35px);
} */

/* 
.container .layer.stars > div:nth-child(2) {
  transform: translateX(1146px) translateY(167px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.5;
}
.container .layer.stars > div:nth-child(3) {
  transform: translateX(359px) translateY(201px) scale(0.8571428571);
  box-shadow: 0 0 2px white;
  opacity: 0.3;
}
.container .layer.stars > div:nth-child(4) {
  transform: translateX(746px) translateY(267px) scale(0.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(5) {
  transform: translateX(1929px) translateY(330px) scale(1.2857142857);
  box-shadow: 0 0 2px white;
  opacity: 0.7;
}
.container .layer.stars > div:nth-child(6) {
  transform: translateX(939px) translateY(293px) scale(0.7142857143);
  box-shadow: 0 0 3px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(7) {
  transform: translateX(423px) translateY(10px) scale(0.8571428571);
  box-shadow: 0 0 2px white;
  opacity: 1;
}
.container .layer.stars > div:nth-child(8) {
  transform: translateX(140px) translateY(72px) scale(0.1428571429);
  box-shadow: 0 0 4px white;
  opacity: 0.3;
}
.container .layer.stars > div:nth-child(9) {
  transform: translateX(727px) translateY(315px) scale(1);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.container .layer.stars > div:nth-child(10) {
  transform: translateX(1777px) translateY(210px) scale(1.4285714286);
  box-shadow: 0 0 1px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(11) {
  transform: translateX(206px) translateY(158px) scale(0.5714285714);
  box-shadow: 0 0 1px white;
  opacity: 0.8;
}
.container .layer.stars > div:nth-child(12) {
  transform: translateX(1268px) translateY(186px) scale(0.5714285714);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.container .layer.stars > div:nth-child(13) {
  transform: translateX(61px) translateY(289px) scale(1.4285714286);
  box-shadow: 0 0 4px white;
  opacity: 1;
}
.container .layer.stars > div:nth-child(14) {
  transform: translateX(1582px) translateY(391px) scale(0.8571428571);
  box-shadow: 0 0 2px white;
  opacity: 0.7;
}
.container .layer.stars > div:nth-child(15) {
  transform: translateX(474px) translateY(187px) scale(0.2857142857);
  box-shadow: 0 0 4px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(16) {
  transform: translateX(87px) translateY(90px) scale(0.1428571429);
  box-shadow: 0 0 1px white;
  opacity: 0.7;
}
.container .layer.stars > div:nth-child(17) {
  transform: translateX(416px) translateY(105px) scale(1);
  box-shadow: 0 0 3px white;
  opacity: 0.8;
}
.container .layer.stars > div:nth-child(18) {
  transform: translateX(404px) translateY(391px) scale(1.2857142857);
  box-shadow: 0 0 4px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(19) {
  transform: translateX(751px) translateY(297px) scale(1.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 1;
}
.container .layer.stars > div:nth-child(20) {
  transform: translateX(558px) translateY(372px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.9;
}
.container .layer.stars > div:nth-child(21) {
  transform: translateX(364px) translateY(273px) scale(1.2857142857);
  box-shadow: 0 0 2px white;
  opacity: 0.5;
}
.container .layer.stars > div:nth-child(22) {
  transform: translateX(885px) translateY(37px) scale(0.5714285714);
  box-shadow: 0 0 3px white;
  opacity: 0.8;
}
.container .layer.stars > div:nth-child(23) {
  transform: translateX(256px) translateY(224px) scale(0.1428571429);
  box-shadow: 0 0 4px white;
  opacity: 0.7;
}
.container .layer.stars > div:nth-child(24) {
  transform: translateX(1305px) translateY(297px) scale(0.4285714286);
  box-shadow: 0 0 1px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(25) {
  transform: translateX(1784px) translateY(313px) scale(1.1428571429);
  box-shadow: 0 0 2px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(26) {
  transform: translateX(572px) translateY(348px) scale(0.8571428571);
  box-shadow: 0 0 2px white;
  opacity: 1;
}
.container .layer.stars > div:nth-child(27) {
  transform: translateX(99px) translateY(66px) scale(0.2857142857);
  box-shadow: 0 0 1px white;
  opacity: 0.9;
}
.container .layer.stars > div:nth-child(28) {
  transform: translateX(1729px) translateY(280px) scale(1.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(29) {
  transform: translateX(2064px) translateY(169px) scale(0.7142857143);
  box-shadow: 0 0 2px white;
  opacity: 0.3;
}
.container .layer.stars > div:nth-child(30) {
  transform: translateX(1620px) translateY(302px) scale(1.4285714286);
  box-shadow: 0 0 3px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(31) {
  transform: translateX(175px) translateY(226px) scale(0.7142857143);
  box-shadow: 0 0 2px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(32) {
  transform: translateX(2050px) translateY(334px) scale(1);
  box-shadow: 0 0 3px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(33) {
  transform: translateX(1319px) translateY(145px) scale(0.8571428571);
  box-shadow: 0 0 3px white;
  opacity: 0.9;
}
.container .layer.stars > div:nth-child(34) {
  transform: translateX(2125px) translateY(31px) scale(1.4285714286);
  box-shadow: 0 0 3px white;
  opacity: 0.3;
}
.container .layer.stars > div:nth-child(35) {
  transform: translateX(275px) translateY(375px) scale(0.4285714286);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.container .layer.stars > div:nth-child(36) {
  transform: translateX(895px) translateY(317px) scale(1.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.5;
}
.container .layer.stars > div:nth-child(37) {
  transform: translateX(380px) translateY(157px) scale(0.4285714286);
  box-shadow: 0 0 4px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(38) {
  transform: translateX(1658px) translateY(363px) scale(1);
  box-shadow: 0 0 1px white;
  opacity: 1;
}
.container .layer.stars > div:nth-child(39) {
  transform: translateX(465px) translateY(85px) scale(1.1428571429);
  box-shadow: 0 0 2px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(40) {
  transform: translateX(1791px) translateY(246px) scale(0.5714285714);
  box-shadow: 0 0 4px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(41) {
  transform: translateX(1049px) translateY(255px) scale(1.1428571429);
  box-shadow: 0 0 1px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(42) {
  transform: translateX(1633px) translateY(162px) scale(1);
  box-shadow: 0 0 3px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(43) {
  transform: translateX(2166px) translateY(400px) scale(1);
  box-shadow: 0 0 3px white;
  opacity: 0.1;
}
.container .layer.stars > div:nth-child(44) {
  transform: translateX(1067px) translateY(374px) scale(0.7142857143);
  box-shadow: 0 0 4px white;
  opacity: 0.5;
}
.container .layer.stars > div:nth-child(45) {
  transform: translateX(904px) translateY(124px) scale(0.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.2;
}
.container .layer.stars > div:nth-child(46) {
  transform: translateX(985px) translateY(156px) scale(0.8571428571);
  box-shadow: 0 0 3px white;
  opacity: 0.7;
}
.container .layer.stars > div:nth-child(47) {
  transform: translateX(481px) translateY(380px) scale(0.2857142857);
  box-shadow: 0 0 1px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(48) {
  transform: translateX(786px) translateY(223px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.4;
}
.container .layer.stars > div:nth-child(49) {
  transform: translateX(161px) translateY(68px) scale(0.7142857143);
  box-shadow: 0 0 3px white;
  opacity: 0.9;
}
.container .layer.stars > div:nth-child(50) {
  transform: translateX(355px) translateY(17px) scale(0.4285714286);
  box-shadow: 0 0 3px white;
  opacity: 0.7;
}
.container .note {
  padding: 20px;
  border: solid 1px white;
  width: 33.333%;
  color: white;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  left: 33.333%;
  background: rgba(125, 95, 85, 0.4);
  text-shadow: 0 1px 1px black;
  border-radius: 30px;
  transition: background 4s ease;
}
.container.night .layer:nth-child(2) {
  opacity: 0;
}
.container.night .layer:nth-child(2) > div {
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}
.container.night .layer:nth-child(3) {
  opacity: 0.8;
}
.container.night .layer:nth-child(3) > div {
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.container.night .layer.stars {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 8s ease, transform 5s ease;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  -webkit-transition: opacity 8s ease, transform 5s ease;
  -moz-transition: opacity 8s ease, transform 5s ease;
  -ms-transition: opacity 8s ease, transform 5s ease;
  -o-transition: opacity 8s ease, transform 5s ease;
}
*/
/* outdor css ======================= */
.content_box {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;

  width: 1280px;
  height: 410px;
  padding: 0 40px;
  overflow: hidden;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent;
  font-size: 22px;
  text-align: right;
  color: azure;
  cursor: pointer;
  /* pointer-events: auto; */
}
.cur_date {
  text-transform: uppercase;
  pointer-events: auto;
  cursor: pointer;
  font-size: 24px;
  background-position: left center;
  background-image: url(../img/sym_calendar.png);
  background-repeat: no-repeat;
  background-size: auto 110%;
  padding-left: 45px;
}
.select {
  background-image: url(../img/sym_fast_time.png);
}
.big_font {
  position: absolute;
  right: 30px;
  top: 50%;
  display: block;

  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 200px;
  text-align: right;
  color: rgb(255, 0, 76);
  text-shadow: rgb(218, 218, 218) -1px -1px 0px, black 5px 5px 10px, black 0px 0px 8px;
  transition: 1s;
  transition-property: color;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  letter-spacing: -2px;
}
.cool {
  color: rgb(0, 204, 255);
}
.rose_wind {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 30px;
  top: 205px;
  display: block;
  background-position: center top;
  background-image: url(../img/rose_of_wind.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.wind_arrow {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-image: url(../img/wind_arrow.png);
  background-repeat: no-repeat;
  background-size: 90% auto;
}
.desc_outdor {
  position: absolute;
  width: 40%;
  right: 40px;
  top: 80%;
  transform: translateY(-50%);
  background-image: -webkit-linear-gradient(
    right,
    rgba(5, 0, 33, 0.75) 50%,
    rgba(5, 0, 33, 0) 100%
  );
  padding: 3px;
  /* border-right: dotted thin white; */
}
.desc_presure,
.desc_humidity {
  width: auto;
  padding-left: 35px;
  margin-left: 30px;
  /* float: right; */
  font-size: 30px;
  display: inline-block;
  background-position: left center;
  background-image: url(../img/pressure.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.desc_humidity {
  background-image: url(../img/humidity.png);
}
.forecast {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 0;
  text-align: center;
  padding: 2px 0;
  /* text-transform: uppercase; */
}
.forecast-data {
  float: left;
}
.ic {
  width: 25px;
  /* margin: 0 5px;  */
  margin-left: 10px;
  padding-left: 10px;
  display: inline-block;
  background-position: left bottom;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 90%;
}
.pressure {
  background-image: url(../img/pressure.png);
}
.temperature {
  background-image: url(../img/temperature.png);
}
.humidity {
  background-image: url(../img/humidity.png);
}
.wind {
  background-image: url(../img/wind.png);
}
.heat {
  background-image: url(../img/heat.png);
}
.sync {
  background-image: url(../img/sync.png);
}
.temperature_min {
  background-image: url(../img/temperature_min.png);
}
.forecast_box {
  position: absolute;
  /* left: 40px; */
  /* right: 40px; */   
  
  left: 50%;
  top: 50%;
  width: 1200px;
  height: 570px;
  border: solid thin rgba(204, 204, 233, 0.3);
  border-top: solid 8px #3e3e4f;
  /* border-top-width: 8px;  */
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 33, 0.4) 0%,
    rgba(0, 0, 33, 0.9) 100%
  );
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
  display: none;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;

  padding: 0 40px;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.forecast_box.show {
  display: block;
  z-index: 3000;

  /* border-top: dotted thin rgba(96, 96, 104, 0.8); */
}
.forecast_title {
  font-size: 28px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0 10px 0;
  text-shadow: 1px 1px 0px white;
  letter-spacing: 2px;
  /* padding-bottom: 6px;  */
  padding-bottom: 10px;
  /* background-color: rgba(204, 204, 233, 0.15); */
}
.forecast_item {
  position: relative;
  display: inline-block;

  width: 23%;
  height: 460px;
  border-radius: 8px;
  border: solid thin #333;
  padding: 20px;

  margin: 5px;
  background-color: rgba(0, 0, 3, 0.75);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  background-position: center 70px;
  background-image: none;
  background-repeat: no-repeat;
  /* background-image: url(../img/day/star.png); */
  /*background-size: 90% auto ;
  */
}
.i_data {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  color: aliceblue;
}
.i_data span {
  font-size: 18px;
  /* background-position: left center;
  background-image: url(../img/sym_calendar.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 25px; */
}
.i_cloud {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.i_precipitation {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 64px;
  text-align: right;
  padding-top: 80px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 5px black, 2px 2px 5px black;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 255, 3, 0.1);
  border-bottom: dotted thin rgba(204, 204, 233, 0.5); */
}
.i_cloud span {
  background-image: none;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 75%;
  padding-left: 50px;
  /* border-bottom: dotted thin rgba(204, 204, 233, 0.5); */
}
.i_cloud span.minus {
  background-image: url(../img/temperature_min.png);
}
.i_cloud span.plus {
  background-image: url(../img/temperature.png);
}
.desc_item {
  font-size: 20px;
  color: #90a4ae;
}
.desc_item span {
  /* display: block;  */
  width: 100%;
  /* border-bottom: dotted thin #455a64; */
  background-position: 10px center;
  background-color: #000a12;
  padding: 4px 25px;
  text-align: right;
  margin: 2px 0;
}
