/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*-moz-user-select: none;
    -khtml-user-select: none;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* float fix for all browsers */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select {
    /*font-family: serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size:100%;
    border :none;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    background:none;
    cursor: pointer;
}
li, button {
    pointer-events: auto;
}
/* button::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    -moz-focus-inner: none;
    border: none;
    outline:none;
} */
button:focus, li:focus {
    outline:none;
}
button:disabled {
    opacity: .4; 
    cursor:auto;
    pointer-events: none;
}
