.btns_container {
  position: fixed;
  bottom: 90px;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  text-align: center;
  height: auto;
  /* z-index: 2000; */
}

.btn {
  float: none;
  cursor: pointer;
  color: rgb(194, 202, 202);
  border-top: solid thin #708690;
  border-bottom: solid thin #708690;
  padding: 3px;
  margin: 5px;
  min-width: 80px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #000033;
 
  transition: 0.25s;
  transition-property: background-color;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s; 
  pointer-events:auto;
}
.btn:hover{
  color: #FFF; 
  background-color: #00567e;
}
/* .btns_container span:hover, */

/* .vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 120px;
  margin: 20px;
  border: 10px solid var(--base-color);
  font-size: 4rem;
  cursor: pointer;
  
  > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(
      0deg,
      var(--hover-color) 0%,
      var(--hover-color) 50%,
      var(--base-color) 50%,
      var(--base-color) 100%
    );
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 0 0;
    transform: scale3d(1, 0, 1);
    transition: transform 300ms;
  }
  
  &:hover {
    .text {
      background-position: 0 100%;
    }

    &::before {
      transform-origin: 0 100%;
      transform: scale3d(1, 1, 1);
    }
  }
} */
