/*==========================================================================*/
/* Base Class */
/*==========================================================================*/
html {
  /*overflow:auto;*/
  overflow: hidden;
  background: black;
}
body {
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "open_sanscondensed_light", sans-serif;
  column-span: none; /* W3C */
  -webkit-column-span: all; /* Safari & Chrome */
  -moz-column-span: all; /* Firefox */
  -ms-column-span: all; /* Internet Explorer */
  -o-column-span: all; /* Opera */
}
* {
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box;
}
div {
  -moz-user-select: none;
  -khtml-user-select: none;
}
input,
select,
button {
  /*font-family:'latoregular'; */
  vertical-align: middle;
  color: #717a7f;
}
/*b {
  font-family:'latobold'; 
}*/
.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
.hide {
  display: none;
}

.cs_list_json {
  position: absolute;
  float: left;
  left: 10px;
  top: 10px;
  right: 30px;
  bottom: 50px;
  color: #eee;
  font-size: 12px;
  overflow-x: hidden;
  text-align: left;
  white-space: pre;
  font-family: monospace;
  /*cursor:pointer; */
  overflow-y: hidden;
  pointer-events: none;
}

/*==========================================================================*/
/* END Base Class */
/*==========================================================================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 1);
}
.bg {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1280px auto;

  -webkit-transition-property: background-position;
  -webkit-transition-duration: 5s;
  -webkit-transition-delay: 2.5s;
  transition-property: background-position;
  transition-duration: 5s;
  transition-delay: 2.5s;
}
.cs_content_container {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  max-width: 1180px;
  max-height: 640px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: pointer;
}

.station-container {
  position: absolute;
  bottom: 160px;
  /*  left:350px;*/
  right: 50px;
  width: 100%;
  height: 40px;

  overflow: hidden;
  /* background-image: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1280px auto;
  border: dotted thin #ffcc00;
   */
}
ul {
  position: absolute;
  float: left;
  left: -30px;
  width: auto;
  height: 100%;
  color: #b0bec5;

  overflow: hidden;
  word-wrap: break-word;

  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  /* background-position: center 0px;
  background-repeat: repeat-x;
  background-image: url(../img/perfo.png);
  background-size: auto 10px;  */
}
li {
  width: 120px;
  word-wrap: break-word;
  /*min-
  max-width: 100px;
  display: block; */
  /* display: inline !important; 
   */
  padding-top: 5px;
  display: inline-block;
  /* margin: 10px 0; */
  text-align: center;
  text-shadow: -1px -1px 0 rgb(0, 0, 0);
  /* border-right: solid 1px #717a7f; */
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-right: 2px solid #000;
  -moz-border-image: url(../img/btn_stroke.png) 2;
  -webkit-border-image: url(../img/btn_stroke.png) 2;
  -o-border-image: url(../img/btn_stroke.png) 2;
  border-image: url(../img/btn_stroke.png) 2;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  /* float: left; */
}
li.select {
  /* color:#ffCB00; */
  padding-top: 0;
  width: 240px;
  font-size: 180%;
  color: #fff;
  /* background-color: rgba(0, 128, 156, 0.4); */
  /* background-color: rgba(255, 0, 16, 0.8);  */
  background-color: #903;
  /* border:none; */
}
.grid-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1280px;
  height: 400px;
  border: dotted thin #ffcc00;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box {
  position: absolute;
  top: 0;
  float: left;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 204, 128, 0.15); */
}

.cs_content {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 640px;
  overflow: hidden;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  z-index: 1000;
  /*  border: dashed 1px #444; */
}

.display {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 320px;
  height: auto;
  text-align: center;
  font-size: 270px;
  /* padding-top: 50px;
 color: #00b8d4; 
  color: #84ffff; */
  color: #a5ffff;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  /* text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 184, 212, 0.8); */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1), 0px 0px 25px rgb(161, 83, 83);
  /* background-color: rgba(0, 204, 128, 0.35); */
  overflow: hidden;
}
.display span {
  font-size: 75%;
}

.fm {
  /*width: 100%;
  height: 100%; */

  margin-top: -50px;
  background-position: 610px 55px;
  background-repeat: no-repeat;
  background-image: url(../img/ic_fm.png);
  background-size: auto 80px;
  transition: 2s color;
  -webkit-transition: 2s color;
  -moz-transition: 2s color;
  -ms-transition: 2s color;
  -o-transition: 2s color;
  /* border: dashed 1px #444;
  border: dashed 2px #0f0; */
}
.time_desc {
  font-size: 36px;
  display: block;
  width: 100%;
  /* padding-top: 10px; */
  height: auto;
  /* background-color: #c00; */
  /* color: #90a4ae; */
  text-align: center;
  text-transform: uppercase;
  /* color: white; */
  color: #b0bec5;
  text-shadow: 2px 0 1px rgb(0, 0, 0), -2px 0 1px rgb(0, 0, 0);
  /* border: dotted thin #fff; */
}
.litle {
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: -15px;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;

  /*background: rgba(0, 0, 0, 0.25);
   border-top: solid 8px ; */
}
.time_desc.dig {
  /* color: #00b8d4; */
  color: #84ffff;
}

.pos_box {
  position: absolute;
  /* border: solid thin #666; */
  top: 160px;
  /* left: 640px; */
  left: 580px;
  right: 40px;
  bottom: 100px;
  transition: 1s all;

  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;

  /* background-position: center 265px, center top;
  background-repeat: repeat-x, no-repeat;
  background-image: url(../img/perfo.png), url(../img/line.png);
  background-size: auto 10px, 100% 1px;  */
}
.prev {
  position: absolute;
  float: left;
  top: 15%;
  left: 50%;
  width: 70px;
  height: 70px;
  /* background-color: darkblue; */
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-position: center center;
  background-image: url(../img/btn_prev.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.prev_btn {
  position: absolute;
  float: left;
  top: 80%;
  left: 92%;
  width: 90px;
  height: 90px;
  /* background-color: darkblue; */
  margin-top: -45px;
  margin-left: -45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-position: center center;
  background-image: url(../img/btn_prev.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.prev_btn:active,
.prev:active {
  background-image: url(../img/btn_prev_select.png);
}
.mute_btn {
  position: absolute;
  float: left;
  top: 50%;
  left: 0;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  border-radius: 50%;
  background-position: 0px 0px;
  background-image: url(../img/wave.gif);
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: sound 0.4s linear infinite forwards;
  -webkit-animation: sound 0.4s linear infinite forwards;
}
@keyframes sound {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: 0px 0px;
  }
  26% {
    background-position: -80px 0px;
  }
  50% {
    background-position: -80px 0px;
  }
  51% {
    background-position: -160px 0px;
  }
  75% {
    background-position: -160px 0px;
  }
  76% {
    background-position: -240px 0px;
  }
  100% {
    background-position: -240px 0px;
  }
}
@-webkit-keyframes sound {
  1% {
    background-position: 0px 0px;
  }
  25% {
    background-position: 0px 0px;
  }
  26% {
    background-position: -80px 0px;
  }
  50% {
    background-position: -80px 0px;
  }
  51% {
    background-position: -160px 0px;
  }
  75% {
    background-position: -160px 0px;
  }
  76% {
    background-position: -240px 0px;
  }
  100% {
    background-position: -240px 0px;
  }
}
.mute_btn.select {
  background-size: 80px 80px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 0px 0px;
  background-image: url(../img/iIcon.png);
  animation: none;
  -webkit-animation: none;
}

.favorites {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
  /* background-position: center bottom;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-size: 100% 1px; */

  /*background-color: rgba(0, 83, 128, 0.5); 
   border-top: solid 1px rgba(250, 250, 255, 0.25);
  border-bottom: solid 1px rgba(250, 250, 255, 0.25);
  */
  background-position: center top;
  background-repeat: repeat-x;
  background-image: url(../img/perfo.png);
  background-size: auto 10px;
}
.fav_btn {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  float: left;
  top: 50%;
  left: 620px;
  background-position: center center;
  background-image: url(../img/btn_fav.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  /* opacity: 0.5; */
}

.fav_btn:active {
  opacity: 1;
}

.fav_st {
  position: relative;
  float: none;
  display: inline-block;
  width: 110px;
  overflow: hidden;
  /* word-wrap: break-word; */
  /*min-
  max-width: 100px;
  display: block; */
  /* display: inline !important; 
   */
  padding-top: 5px;
  display: inline-block;
  /* margin: 10px 0; */
  text-align: center;
  /* border-right: solid 1px #717a7f; */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 2px solid #000;
  -moz-border-image: url(../img/btn_stroke.png) 2;
  -webkit-border-image: url(../img/btn_stroke.png) 2;
  -o-border-image: url(../img/btn_stroke.png) 2;
  border-image: url(../img/btn_stroke.png) 2;

  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  font-family: "open_sanscondensed_light", sans-serif;
  font-size: 18px;
  color: #84ffff;
}
.fav_st:active {
  color: #fff;
  background-color: #302;
}
.fav_st.label {
  color: #b0bec5;
  border-image: none;
  text-align: right;
  width: 90px;
}

#json-cmd {
  margin-top: 30px;
  position: fixed;
}

.cs_widget {
  position: absolute;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: center center url(../img/widget.png) no-repeat;
  background-size: auto 100%;
  /* z-index: 1000; */
  /* border: dotted thin #09F; */
}
.shadow {
  position: absolute;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: center center url(../img/shadow.png) no-repeat;
  background-size: auto 100%;
  /* z-index: 1000; */
  /* border: dotted thin #09F; */
}
.regulator {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  background-position: center 20px;
  background-repeat: no-repeat;
  background-image: url(../img/regulator.png);
  background-size: 80px auto;

  border-radius: 50%;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
}
.cur_marker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/marker.png);
  background-size: 100% auto;

  border-radius: 50%;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  /* border: dotted thin #09F;
  overflow: visible; */
}

.cs_btn_set {
  position: absolute;
  float: left;
  width: 100px;
  height: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
}
.box_center {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 220px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}
.gear_big {
  position: absolute;
  float: left;
  width: 200px;
  height: 200px;
  left: 65%;
  top: 55%;
  margin-top: -100px;
  border-radius: 50%;
  background: center center url("../img/gear_big.png") no-repeat;
  background-size: auto 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
}
.gear_litle {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  left: 63.3%;
  top: 55%;

  border-radius: 50%;
  background: center center url("../img/gear_litle.png") no-repeat;
  background-size: auto 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
}

/* @media all and (orientation: portrait) {
  .cs_content_container {
    background-size: auto 100%;
  }
}
 */

.test {
  position: absolute;
  width: 100%;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  bottom: 120px;
  /* background-color: #e00; */
  color: #717a7f;
}
.selected {
  color: #fff;
}
