/*==========================================================================*/
/* Base Class */
/*==========================================================================*/
html {
  /*overflow:auto;*/
  overflow: hidden;
  background: black;
}
body {
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "open_sanscondensed_light", sans-serif;
  column-span: none; /* W3C */
  -webkit-column-span: all; /* Safari & Chrome */
  -moz-column-span: all; /* Firefox */
  -ms-column-span: all; /* Internet Explorer */
  -o-column-span: all; /* Opera */
}
* {
  
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
box-sizing: border-box;
}
div {
  -moz-user-select: none;
  -khtml-user-select: none;
}
input,
select,
button {
  /*font-family:'latoregular'; */
  vertical-align: middle;
  color: #717a7f;
}
/*b {
  font-family:'latobold'; 
}*/
.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
.hide {
  display: none;
}

.cs_list_json {
  position: absolute;
  float: left;
  left: 10px;
  top: 10px;
  right: 30px;
  bottom: 50px;
  color: #eee;
  font-size: 12px;
  overflow-x: hidden;
  text-align: left;
  white-space: pre;
  font-family: monospace;
  /*cursor:pointer; */
  overflow-y: hidden;
  pointer-events: none;
}

/*==========================================================================*/
/* END Base Class */
/*==========================================================================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 1);
}
.bg {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1280px auto;

  -webkit-transition-property: background-position;
  -webkit-transition-duration: 5s;
  -webkit-transition-delay: 2.5s;
  transition-property: background-position;
  transition-duration: 5s;
  transition-delay: 2.5s;
}
.cs_content_container {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  max-width: 1180px;
  max-height: 640px;
  top: 50%;
  left: 50%;
  text-align: center;
 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);

  /*border: dashed 2px #333;
  */
  overflow: hidden;
  cursor: pointer;
}

.grid-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1280px;
  height: 400px;
  border: dotted thin #ffcc00;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box {
  position: absolute;
  top: 0;
  float: left;
  width: 100%;
  height: 100%;
}

.cs_content {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 640px;
  overflow: hidden;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  z-index: 1000;
  /*  border: dashed 1px #444; */
}

.gear {
  position: absolute;
  float: left;
  left: 50%;
  top: 45%;
  margin-left: -155px;
  width: 170px;
  height: 170px;
  border-radius: 85px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/gear.png);
  background-size: auto 100%;
  animation: rotate 30s infinite linear;
  -moz-animation: rotate 30s infinite linear;
  -webkit-animation: rotate 30s infinite linear;
  animation-name: tourbillon_anime;
  -webkit-animation-name: tourbillon_anime;
}

.time {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  width: 740px;
  min-height: 300px;
  height: auto;
  text-align: center;
  font-size: 270px;
  /* color: #00b8d4; 
  color: #84ffff; */
  color: #a5ffff;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  /* text-shadow: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 184, 212, 0.8); */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1), 0px 0px 25px rgba(0, 0, 0, 1);
  /* background-color: darkblue; 
 border: dotted thin #444; */

  overflow: hidden;
}
.time span {
  font-size: 75%;
}
#json-cmd,
.time_desc {
  font-size: 36px;
  display: block;
  width: 100%;
  height: auto;
  /* background-color: #c00; */
  margin-top: -30px;
  /* color: #90a4ae; */
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.time_desc.dig {
  /* color: #00b8d4; */
  color: #84ffff;
}
#json-cmd {
  margin-top: 30px;
  position: fixed;
}
/* .cs_container {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  text-align: center;
  transform: scale(0.25, 0.25);
  -webkit-transform: scale(0.25, 0.25);
  -moz-transform: scale(0.25, 0.25);
  background: center center url("../img/tourbillon_bg5.png") no-repeat;
  background-size: auto 100%;
} */
.cs_widget {
  position: absolute;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: center center url(../img/widget.png) no-repeat;
  background-size: auto 100%;
  /* z-index: 1000;
  border: dotted thin #09F; */
}
.dial {
  position: absolute;
  float: left;
  overflow: hidden;
  top: 21%;
  left: 21%;
  right: 21%;
  bottom: 21%;
  border-radius: 50%;
  /* background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #101520;
  background-size: 16px 16px;

  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  */
  /*  border: solid 5px #000;
 background: center center url(../img/line_gc.gif) repeat;
  overflow: hidden;
  background-size: auto 100%; */
}
.tourbillon_pillar {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background: center center url(../img/tourbillon_pillar.png) no-repeat;
  background-size: auto 100%;
}
.tourbillon {
  position: absolute;
  float: left;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  bottom: 76px;
  border-radius: 80px;
  /*border: dotted thin #090;*/
  background: center center url("../img/black_gear.png") no-repeat;
  background-size: auto 100%;
  /*border: dotted thin #090;*/

  animation: rotate 60s infinite linear;
  -moz-animation: rotate 60s infinite linear;
  -webkit-animation: rotate 60s infinite linear;

  animation-name: tourbillon_anime;
  -webkit-animation-name: tourbillon_anime;
}

.tourbillon_settings {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center center url("../img/black_gear.png") no-repeat;
  background-size: auto 100%;
  /*border: dotted thin #090;*/

  animation: rotate 60s infinite linear;
  -moz-animation: rotate 60s infinite linear;
  -webkit-animation: rotate 60s infinite linear;

  animation-name: tourbillon_anime;
  -webkit-animation-name: tourbillon_anime;
}
.cs_tourbillon_body {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background: center center url("../img/tourbillon_body.png") no-repeat;
  background-size: auto 100%;
  color: #ffcc00;
  text-align: center;
}
/* Animate ==================================================*/
@-webkit-keyframes tourbillon_anime {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes tourbillon_anime {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

.pendulum {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  margin-left: -56px;
  margin-top: -56px;
  width: 112px;
  height: 112px;
  border-radius: 56px;
  /*border: dotted thin #090;*/
  background: center center url("../img/pendulum.png") no-repeat;
  background-size: auto 100%;

  animation: rotate 0.5s infinite linear;
  -moz-animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 0.5s infinite linear;

  animation-name: pendulum_anime;
  -webkit-animation-name: pendulum_anime;
}
@-webkit-keyframes pendulum_anime {
  1% {
    -webkit-transform: rotate(1.2deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes pendulum_anime {
  1% {
    -moz-transform: rotate(1.2deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
/* anker_gear animate ----------------------------- */
.anker_gear {
  position: absolute;
  float: left;
  left: 50%;
  top: 5px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*border: dotted thin #090;*/
  background: center center url("../img/anker_gear.png") no-repeat;
  background-size: auto 100%;

  /*animation: rotate 2s infinite step-end; */
  -moz-animation: rotate 2s infinite step-end;
  -webkit-animation: rotate 2s infinite step-end;

  transition-timing-function: steps(12);
  -webkit-transition-timing-function: steps(12);

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  /**/
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;

  animation-name: anker_gear_rotate;
  -webkit-animation-name: anker_gear_rotate;
}
@-webkit-keyframes anker_gear_rotate {
  9% {
    -webkit-transform: rotate(30deg);
  }
  17% {
    -webkit-transform: rotate(60deg);
  }
  26% {
    -webkit-transform: rotate(90deg);
  }
  34% {
    -webkit-transform: rotate(120deg);
  }
  41% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58% {
    -webkit-transform: rotate(210deg);
  }
  66% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83% {
    -webkit-transform: rotate(300deg);
  }
  91% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes anker_gear_rotate {
  9% {
    -moz-transform: rotate(30deg);
  }
  17% {
    -moz-transform: rotate(60deg);
  }
  26% {
    -moz-transform: rotate(90deg);
  }
  34% {
    -moz-transform: rotate(120deg);
  }
  41% {
    -moz-transform: rotate(150deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  58% {
    -moz-transform: rotate(210deg);
  }
  66% {
    -moz-transform: rotate(240deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  83% {
    -moz-transform: rotate(300deg);
  }
  91% {
    -moz-transform: rotate(330deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

.anker,
.bronze_gear {
  position: absolute;
  float: left;
  width: 56px;
  height: 56px;
  left: 50%;
  top: 16%;
  margin-left: -28px;
  border-radius: 28px;
}
.anker {
  background: center center url("../img/anker.png") no-repeat;
  background-size: auto 100%;
  /*border:dotted thin #0F0;*/
  animation: rotate 0.5s infinite linear;
  -moz-animation: rotate 0.5s infinite linear;
  -webkit-animation: rotate 0.5s infinite linear;

  animation-name: anker_anime;
  -webkit-animation-name: anker_anime;
}
@-webkit-keyframes anker_anime {
  1% {
    -webkit-transform: rotate(-6deg);
  }
  50% {
    -webkit-transform: rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
  }
}
@-moz-keyframes anker_anime {
  1% {
    -moz-transform: rotate(-6deg);
  }
  50% {
    -moz-transform: rotate(16deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
  }
}

.bronze_gear {
  background: center center url("../img/bronze_gear.png") no-repeat;
  background-size: auto 100%;
  /*border:dotted thin #0F0;*/
  animation: rotate 24s infinite linear;
  -moz-animation: rotate 24s infinite linear;
  -webkit-animation: rotate 24s infinite linear;
  /*
    animation-name:bronze_gear_anime;
    -webkit-animation-name:bronze_gear_anime;
	*/
  animation-name: arrow_rotate;
  -webkit-animation-name: arrow_rotate;
}
.spring {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: center center url("../img/spring.png") no-repeat;
  animation: scale 0.5s infinite linear;
  -moz-animation: scale 0.5s infinite linear;
  -webkit-animation: scale 0.5s infinite linear;

  animation-name: spring_anime;
  -webkit-animation-name: spring_anime;
}

@-webkit-keyframes spring_anime {
  1% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.75, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes spring_anime {
  1% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(0.75, 0.75);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
.cs_month_gear,
.mask {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  /*top:175px;
  */
  margin-top: -110px;
  margin-left: -21px;
  width: 220px;
  height: 220px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/month_gear.png);
  background-size: auto 100%;
  /* opacity: .8; */
  border-radius: 50%;
}
.mask {
  background-image: url(../img/mask.png);
  opacity: 0.5;
}
.cs_day_week {
  position: absolute;
  float: left;
  left: 50%;
  top: 27%;
  /*top:175px;*/
  margin-left: -57px;
  width: 114px;
  height: 114px;
  border-radius: 57px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/month_gear.png);
  background-size: auto 100%;
  /*border:dotted thin #F00;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);*/
}
.cs_day_week {
  background-image: url(../img/days_week.png);
}
.fan {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center center url(./img/fan.png) no-repeat;
  background-size: auto 55%;
  animation: rotate 3s infinite linear;
  -moz-animation: rotate 3s infinite linear;
  -webkit-animation: rotate 3s infinite linear;

  /*
	transition-timing-function: steps(12);
    -webkit-transition-timing-function: steps(12);
	*/
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;

  animation-name: arrow_rotate;
  -webkit-animation-name: arrow_rotate;
}
/* Led*/
.led_battery {
  position: absolute;
  float: left;
  width: 66px;
  height: 19px;
  top: 220px;
  left: 181px;
  background-color: rgb(0, 0, 0);
  background-position: left center;
  background-repeat: repeat-x;
  background-image: url("../img/battery_level.png");
  background-size: auto 100%;
  /*opacity:.5;*/
}
.cs_level {
  position: absolute;
  float: left;
  width: 50%;
  height: 100%;
  background-position: left center;
  background-repeat: repeat-x;
  background-image: url("../img/level.png");
  background-size: auto 100%;
  /*opacity:.5;*/
}
.cs_level.low {
  background-image: url("../img/level-low.png");
}
.led {
  position: absolute;
  float: left;
  width: 20px;
  height: 18px;
  top: 220px;
  left: 416px;
  background-color: rgba(255, 51, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none;
  background-size: auto 100%;
}
.s_bluetooth {
  left: 390px;
  background-image: url("../img/bluetooth.png");
}
.s_wifi {
  left: 416px;
  background-image: url("../img/wifi.png");
}
.s_gps {
  left: 442px;
  background-image: url("../img/gps.png");
}
.s_air_mode {
  left: 204px;
  top: 401px;
  background-image: url("../img/air_mode.png");
}

/* Arrows ------------------------------------------ */

.cs_arrows,
.cs_arrow_hour,
.cs_arrow_min,
.cs_arrow_sec {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 450px;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  pointer-events: none;
  /*border: dotted 1px #0F6;*/
}

.cs_arrow_hour {
  background: center center url("../img/arrow_hour.png") no-repeat;
  background-size: auto 100%;

  /* animation-name: arrow_rotate;
    -webkit-animation-name: arrow_rotate;*/
}
.cs_arrow_hour.run-animation {
  animation: arrow_rotate 43200s infinite linear;
  -moz-animation: arrow_rotate 43200s infinite linear;
  -webkit-animation: arrow_rotate 43200s infinite linear;
}
.cs_arrow_min {
  background: center center url("../img/arrow_min.png") no-repeat;
  background-size: auto 100%;

  /* animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;

   animation-name: arrow_rotate;
    -webkit-animation-name: arrow_rotate;*/
}
.cs_arrow_min.run-animation {
  animation: arrow_rotate 3600s infinite linear;
  -moz-animation: arrow_rotate 3600s infinite linear;
  -webkit-animation: arrow_rotate 3600s infinite linear;
}
.cs_arrow_sec {
  background: center center url("../img/arrow_sec.png") no-repeat;
  background-size: auto 100%;

  /*transition-timing-function: steps(60, end);
   -webkit-transition-timing-function: steps(12, end);*/

  /* animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;

  	animation-name: arrow_rotate;
    -webkit-animation-name: arrow_rotate;
	-moz-transform: rotate(0deg);*/
}

.cs_arrow_sec.run-animation {
  animation: arrow_rotate 60s infinite linear;
  -moz-animation: arrow_rotate 60s infinite linear;
  -webkit-animation: arrow_rotate 60s infinite linear;
}

@-webkit-keyframes arrow_rotate {
  /*from {-webkit-transform:  rotate(0deg);}	*/
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes arrow_rotate {
  /*-moz-transform: rotate(360deg);
    from {-moz-transform:  rotate(0deg);}*/
  to {
    -moz-transform: rotate(360deg);
  }
}

.cs_cur_date {
  position: absolute;
  float: left;
  right: 65px;
  top: 50%;
  margin-top: -17px;
  width: 60px;
  height: 34px;
  font-size: 26px;
  font-family: sans-serif;
  color: #c0c0c4;
  /*padding-top: 3px;*/
  text-shadow: 1px 1px #fff, -1px -1px #000;
}
.cs_cur_date.red {
  color: #c00;
  text-shadow: 1px 1px #e00, -1px -1px #000;
}
.cs_btn_set {
  position: absolute;
  float: left;
  width: 100px;
  height: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
}
.box_center {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 220px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}

/* @media all and (orientation: portrait) {
  .cs_content_container {
    background-size: auto 100%;
  }
}
 */
.test {
  position: absolute;
  width: 100%;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  bottom: 120px;
  /* background-color: #e00; */
  color: #717a7f;
}
.selected {
  color: #fff;
}