body {
  /* base font */
  /*font-family:'Open Sans Condensed', sans-serif;*/
  font-family: sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  color: #8c97a0;
  float: left;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
#content_container {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  text-align: center;
  /* -ms-overflow-style: -ms-autohiding-scrollbar; */
  /* overflow: hidden; */
  -ms-overflow-style: none;
  overflow: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* background: center top url("../img/ui_bg.png") no-repeat; */
}
.cs_content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  float: none;
  display: block;
  
  /* overflow: hidden;
  
  max-width: 380px; */
  max-width: 268px;
  margin: 0 auto;
  /* cursor: not-allowed; */
}
.cs_directory {
  position: absolute;
  float: left;
  top: 0;
  width: 100%;
  height: 32px;
  bottom: 0;
  background: #000;
  padding: 6px 20px;
  overflow: hidden;
  color: #cccccf;
  background-color: #1d2225;
  border-left: solid 10px #000;
  border-right: solid 10px #000;
}
/* .cs_directory span {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: auto;
  display: block;
  color: #ffffff;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background-position: 10px center;
  background-image: url(../icon/ic_grp_remote.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
} */
.list {
  position: relative;;
  /* float: left; */
  width: 100%;
  height:100%;
  border-top: solid 5px #FF0000;
  border-bottom: solid 5px #FF0000;
  border-right: solid 5px #FF0000;
  border-left: solid 5px #FF0000;
  background-color: blueviolet; 
}

.list_container {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  border-top: solid thin #555;
  /*  top: 0;
  bottom: 128px;
  
  
  background: #003;
  padding: 1px;
  padding: 5px 10px; */
  overflow-x: hidden;
  overflow-y: auto;
  /* background-position: center top;
  background-image: url(../img/ui_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: blueviolet;  */
}
.prog_grp {
  position: relative;
  float: left;
  border-top: solid thin #000;
  border-bottom: solid thin #555;
  padding: 5px 0;
  /*border-bottom: solid thin #444;
  margin-bottom: 2px;
  */cursor: pointer;
  width: 100%;
  height: auto;
  max-height: 72px;
  transition: max-height 0.5s ease;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  background: none;
  overflow: hidden;
}
.program {
  /*position:relative;
  float: left;
  width: 100%;
  min-height: 64px;
  top: 64px;
  padding: 5px 10px;
  */
  pointer-events: none;
  position: relative;
  width: 100%;
  min-height: 50px;
  /*display: block;
  */
  float: left;
  text-transform: none;
  /*border-bottom: solid thin #333;
  */
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgba(0, 0, 7, 0.5);
  /*color: #0faba5;
  */
  color: #7c8790;
  /*color: #0cc;
  background-position: left center;
  background-image: url(../img/default_icon.png);
  background-size:  auto 100%;
  background-repeat: no-repeat;
  contrast(125%):;
  contrast(125%):;
  opacity: 0.5;
  */ /*overflow: hidden;
  overflow-y: auto;
  mask-webkit-mask-image: url("../img/scroll_mask.png");
  -webkit-mask-size: 100% 100%;*/
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  /*-webkit-filter:;
  filter: hue-rotate(90deg);
       */
}
.prog_grp.select {
 max-height: 500px;
}
.prog_grp.select > .program {
  color: #fff;
  filter: none;
  -webkit-filter: none;
}
/* 
.program.select div.item_name {
  color: #fff;
} 
.program.icon_img {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}*/
.prog_grp.select .icon_img,
.program.select div.icon_container div.icon_img {
  opacity: 1;
  pointer-events: none;
  filter: none;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  -webkit-filter: none;
}
/* li.item.select div.icon_img {
} */
ul {
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  /*padding: 0 5px 5px 5px;
  top: 64px;
  bottom: 128px;
 
  background: #000; */
  overflow: hidden;
  /*  background-color: #000a12; 
  background-color: #102027;
  background-color: #1d2225;*/
  /* 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 2px transparent;
  /* background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  ); */
  /* border-bottom: solid thin #777; */
}

.prog_grp.select > ul {
  height: auto;
}
li.item,
li.item_toggle {
  position: relative;
  padding: 5px 10px;
  width: 100%;
  min-height: 44px;
  display: block;
  float: left;
  text-transform: none;
  border-top: solid thin #344;
  border-bottom: solid 3px transparent;
  cursor: pointer;
  background-color: rgba(0, 33, 33, 0.15);
}
.icon_img {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../icon/btn_smart.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.75;
  pointer-events: none;
  /*  -webkit-filter: grayscale(95%);
contrast(125%):;
filter: grayscale(95%);  */
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

li.item:active,
li.item_toggle:active {
  /* background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  ); */
  /* background-color: #0faba5; 
  background-color: #157ec3;*/
  background-position: center bottom;
  background-image: url(../img/btn_select.png);
  background-size: 110% 100%;
  background-repeat: no-repeat;
  border-bottom-color: #000;
  /* opacity: 0.75; */
}
/* li.item:hover,
li.item_toggle:hover {
  opacity: 1;
} */
li.item.select div.icon_img {
  opacity: 1;
}
.cs_button {
  position: absolute;
  float: left;
  width: 100%;
  height: 60px;
  left: 0;
  background-position: center center;
  background-image: url(../img/sym_return.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  bottom: 0;
  opacity: 0.5;
}
.cs_button:active {
  opacity: 1;
}

/* ----- Android Phone ----- */

.item_name,
.program_name {
  position: absolute;
  top: 50%;
  height: auto;
  left: 80px;
  right: 15px;
  overflow: hidden;
  font-size: 90%;
  text-align: right;

  color: #8c97a0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  pointer-events: none;
  text-shadow: -1px -1px 0 black;
  /* background-color: #fc0; */
}

.program_name {
  color: inherit;
  pointer-events: none;
}

.item_name span {
  color: #0faba5;
  font-size: 75%;
}
.item_name span.cs_desk {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  font-size: 30px;
  color: #6c7780;
  text-transform: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* margin-top: -3px; */
  font-size: 75%;
  /*  border-top: solid 4px rgba(0, 255, 0, 1);
  background-color: blueviolet; */
}

.item:active > .item_name,
.item_toggle.select > .item_name {
  /* color: #fff; color: #4fFbF5;
  */
  color: #1fbbc5;
}
.item:active > .item_name span.cs_desk,
.item_toggle.select > .item_name span.cs_desk {
  color: #fff;
  /*  color: #0faba5;
  color: black;*/
  text-shadow: none;
}
/* li:last-child {margin-bottom: 10px;} */
.icon_container {
  position: relative;
  float: left;
  /*left: 10px;
  
  display: inline-block;*/
  width: 46px;
  height: 46px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.item .icon_container,
.item_toggle .icon_container {
  /*background-color: red;*/
  background-color: black;
  margin: 3px 0;
  width: 36px;
  height: 36px;
}
.item_toggle.select > .icon_container {
  background-color: #001f3c;
  border-right: solid 2px #1fbbc5;
  border-bottom: solid 2px #1fbbc5;
  margin: 9px 5px;
  width: 24px;
  height: 24px;
  /*
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
  background-color: rgba(0, 0, 204, 0.5); */
}
.ext {
  background-color: rgba(0, 33, 33, 0.005);
}
.blocking {
  pointer-events: none;
}
/* iScroll CSS */
.wrapper {
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
	/* mask
	-webkit-mask-image: url("../img/scroll_mask.png");
  -webkit-mask-size: 100% 100%; */
  
  
	/*-webkit-mask-attachment: fixed;
    -webkit-mask-clip: padding-box;
    -webkit-mask-origin: border;
    -webkit-mask-repeat: repeat-x;*/

    /* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*user-select: none;*/

    /* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	/*text-size-adjust: none;*/
	border-left: solid 1px rgba(153,153,0,0);
	border-right: solid 1px rgba(153,153,0,0);/*z-index: 1;*/
}
.cs_scroll_y {
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: auto;/*border-left:dotted 2px rgba(0,153,0,0);
    border-right:dotted 2px rgba(0,153,0,0);*/
}
.cs_list_padding {
	position: relative;
	float: left;
	width: 100%;
	height: 10px;/*background:none;
    background-color:#06F;*/
}
.cs_list_padding.phone {
	height: 20px;
}
.scroller {
	position: absolute;
	width: 100%;
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);/*z-index: 1;*/
}
.scroller.max {
	min-height: 101%;
}

/* 
.cs_help_desc {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  font-size: 100%;
  padding: 5px 20px;
}

.cs_title {
  position: relative;
  float: left;
  top: 0;
  width: 100%;
  height: 40px;
  background: #000;
  overflow: hidden;
  background-position: left center;
  background-image: url("../img/sym_help.png");
  background-size: auto 32px;
  background-repeat: no-repeat;
  border-bottom: solid thin #333;
  margin-bottom: 5px;
}

.cs_monospace {
  font-family: monospace;
  font-size: 90%;
  color: #ccc;
}
.cs_monospace span {
  color: #fc0;
} */
